nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#E9ECEF ;
    font-size:xx-large;
    
    
  }
 #hero{
  margin-top: -100px;
  margin-left: 500px;

 }